<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Study-Meta</title>
    <link rel="stylesheet" href="study/style_file/books/home.css">
    <style>
        *{
            margin:0;
            padding:0;
          }
    </style>
</head>
<body>
  <div class="main">
      <div class="header" style="width:100%;height:10%;background:orange;">
          <h1 style="width:100%;height:200px;text-align:center;font-size:100px;padding-top:50px">STUDY-META</h1>

      </div>
      <div class="container">

      </div>
      <div class="footer"></div>
  </div>
</body>
</html>